{% extends 'base.html' %}
{% block page_content %}

    <div class="row align-items-center p-2 m-2">
        <h1 class="text-center">Scan Items here: </h1>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <input class="form-control" id="scanner" type="text" name="scanner">
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-secondary" type="submit">Enter</button>
                <button class="btn btn-outline-secondary" type="submit" value="pay" name="pay">Payment</button>
            </div>

            <div class="mb-3 text-center">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Product:
                        </th>
                        <th>
                            Price:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {% for item in receipt2 %}
                                {{item}}
                                <br>
                            {% endfor %}
                            {{ name }}
                        </td>
                        
                        <td>
                            {% for item in receipt %}
                                {{item}}
                                <br>
                            {% endfor %}
                            {{ scannedInput }}
                        </td>
                    </tr>
                </table>
            </div>

            <button class="btn btn-outline-secondary" value="cancel" name="cancel">Cancel Session</button>
        </form>

        {% comment %} <table class="">
            <form action="" method="POST">
                {% csrf_token %}

                <tr>
                    <th>
                        <input class="" id="scanner" type="text" name="scanner">
                        <button class="btn btn-outline-secondary" type="submit">Enter</button>
                        <button class="btn btn-outline-secondary" type="submit" value="pay" name="pay">Payment</button>
                    </th>
                    <th>
                        <table class="">
                            <tr>
                                <th>
                                    Product:
                                </th>
                                <th>
                                    Price:
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {% for item in receipt2 %}
                                        {{item}}
                                        <br>
                                    {% endfor %}
                                    {{ name }}
                                </th>
                                
                                <th>
                                    {% for item in receipt %}
                                        {{item}}
                                        <br>
                                    {% endfor %}
                                    {{ scannedInput }}
                                </th>
                            </tr>
                        </table>
                    </th>   
                </tr>

                <tr>
                    <th>
                        <button class="btn btn-outline-secondary" value="cancel" name="cancel">Cancel Session</button>
                    </th>
                </tr>
            </form>
        </table> {% endcomment %}
    </div>
    
{% endblock %}